<h1><%= @user.username %>'s Page</h1>
<h3>Posts <%= @user.username %> has commented on</h3>
<% @user.posts.each do |post| %>
    <ul>
        <li><%= link_to post.title, post_path(post) %></li>
    </ul>
<% end %>
